body{
	background-color: black;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.right-navbar-container{
	display: none;
}

.navbar-container{
	display: flex;
	justify-content: space-between;
	height: 45px;
	align-items: center;
}

.jeep-logo{
	height: 25px;
	padding-left: 15px;
}

.down{
	font-size: 16px;
	padding-left: 8px;
}

.yew{
	font-size: 14px;
}

.navitem{
	display: inline-block;
	font-weight: 700;
	font-size: 12px;
	line-height: 48px;
	padding-right: 15px;
}
	.navitem-tools{
		display: inline-block;
		font-weight: 700;
		font-size: 12px;
		line-height: 48px;
		padding-right: 15px;
	}
	.navitem-capability{
		display: none;
	}
	.navitem-life{
		display: none;
	}
	.navitem-owners{
		display: none;
	}
	.navitem-merchandise{
		display: none;
	}

.carousel-container{
	background-image: url("carousel-jeep.jpg");
	background-size: cover;
	width: 100vw;
	height: 120vw;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}
	.carousel-content{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.far{
		font-size: .5em;
	}
	.carousel-container .white-text{
		text-align: center;
		width: 80vw;
		line-height: 22px;
		font-size: 1em;
	}
	.carousel-container .fine-print{
		font-size: .7em;
		line-height: 40px;
	}
	.carousel-container .motortrend{
		height: 120px;
		margin-top: 30px;
		margin-bottom: 15px;
	}
	.dots div{
		height: 12px;
		width: 12px;
		border-radius: 50%;
		display: inline-block;
		border: 2px solid #bfbfbf;
	}
	.yellow-dot{
		background-color: #ffba00;
	}

.button{
	background-color: #ffba00;
	color: black;
	text-decoration: none;
	border-radius: 2px;
	padding: 14px 25px;
	font-size: 14px;
	font-weight: 700;
	display: inline-block;
}

.vehicles-white{
	width: 100vw;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.vehicles-container{
	width: 95vw;
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.vehicles-container img{
	height: 12vw;
	margin: auto;
}

.vehicles-header{
	font-weight: 700;
	font-size: 1.3em;
	color: #333333;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}

.vehicles-info{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.vehicles-name{
	font-weight: 700;
	color: black;
	text-align: center;
	max-width: 16vw;
	font-size: .9em;
}

.vehicles-msrp{
	color: #636363;
	font-size: .5em;
	text-align: center;
	margin-top: 10px;
}

.vehicles-price{
	font-weight: 700;
	color: black;
	text-align: center;
	max-width: 35vw;
	font-size: .9em;
}

.promo-container{
	background-color: #d1d1d1;
	width: 100vw;
}

.compass-promo-image{
	height: 32vw;
	background-image: url("compass-promo.jpg");
	background-position: -10%;
	background-size: cover;
}

.grandcherokee-promo-image{
	height: 32vw;
	background-image: url("grandcherokee-promo.jpg");
	background-position: -10%;
	background-size: cover;
}

.cherokee-promo-image{
	height: 32vw;
	background-image: url("cherokee-promo.jpg");
	background-position: -10%;
	background-size: cover;
}

.promo-item{
	padding: 20px 20px 0px 20px;
}

.three{
	padding-bottom: 20px;
}

.promo-black{
	width: 100%;
	background-color: black;
	position: relative;
	color: white;
	font-size: .9em;
}

.promo-white-bold{
	font-weight: 700;
}

.promo-gray{
	background-color: #212121;
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
	
	.promo-gray .fas{
		color: #ffba00;
		margin-right: 10px;
		margin-left: 25px;
	}

.promo-gray-bold{
	font-weight: 700px;
	font-size: .8em;
}

.promo-text{
	padding: 18px 25px;
	line-height: 20px;
}

.random-gray{
	background-color: #e7e7e7;
	height: 138px;
	padding: 0px 0px 0px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

	.random-gray div{
		font-size: .75em;
		font-weight: 700;
		color: black;
		width: 186px;
		margin-bottom: 15px;
	}

.kelley{
	background-color: #d1d1d1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
	.kelley img{
		width: 150px;
		margin-top: 30px;
	}

.kelley-big{
	font-size: 1.6em;
	font-weight: 700;
	color: #333333;
	width: 90vw;
}

.kelley-text{
	font-size: .9em;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 85vw;
	line-height: 20px;
}

.kelley-butt{
	width: 270px;
	margin-top: 20px;
	margin-bottom: 30px;
}
