body{
	background-color: black;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.big-daddy-nav{
	display: flex;
	justify-content: space-between;
}

.navbar-container{
	display: flex;
	height: 70px;
	align-items: center;
}

.jeep-logo{
	height: 2.5vw;
	padding-left: 15px;
	padding-right: 15px;
}

.down{
	font-size: 1.2vw;
	padding-left: .4vw;
}

.teeny{
	font-size: .8vw;
}

.right-navbar-container{
	display: flex;
	align-items: center;
	margin-right: 30px;
}

.not-spanish{
	font-weight: 700;
	font-size: 1vw;
	color: white;
	padding-left: 30px;
}

.spanish{
	border-left: 1px solid white;
	padding-left: 30px;
	font-size: 12px;
}

.navitem{
	display: inline-block;
	font-weight: 700;
	font-size: 1vw;
	line-height: 48px;
	padding-right: .3vw;
	padding-left: .2vw;
}
	.navitem-tools{
		display: inline-block;
		font-weight: 700;
		font-size: 1vw;
		line-height: 48px;
		padding-right: 15px;
		padding-left: 10px;
	}
	.navitem-capability{
		display: inline-block;
		font-weight: 700;
		font-size: 1vw;
		line-height: 48px;
		padding-right: 15px;
		padding-left: 10px;
	}
	.navitem-menu{
		display: none;
	}
	.navitem-life{
		display: inline-block;
		font-weight: 700;
		font-size: 1vw;
		line-height: 48px;
		padding-right: 15px;
		padding-left: 10px;
	}
	.navitem-owners{
		display: inline-block;
		font-weight: 700;
		font-size: 1vw;
		line-height: 48px;
		padding-right: 15px;
		padding-left: 10px;
	}
	.navitem-merchandise{
		display: inline-block;
		font-weight: 700;
		font-size: 1vw;
		line-height: 48px;
		padding-right: 15px;
		padding-left: 10px;
	}

.carousel-container{
	background-image: url("carousel-jeep-wide.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 38vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
	.carousel-content{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 40vw;
		padding-top: 9vw;
		padding-left: 6vw;
	}
	.far{
		font-size: .5em;
	}
	.carousel-container .white-text{
		line-height: 30px;
		font-size: 1.3em;
	}
	.carousel-container .fine-print{
		font-size: .9em;
		margin-top: 5px;
		margin-bottom: 15px;
	}
	.motortrend{
		height: 9vw;
		margin-bottom: 10px;
	}

.dots{
	align-self: center;
}

.dots div{
	height: 12px;
	width: 12px;
	border-radius: 50%;
	display: inline-block;
	border: 2px solid #bfbfbf;
}
.yellow-dot{
	background-color: #ffba00;
}

.button{
	background-color: #ffba00;
	color: black;
	text-decoration: none;
	border-radius: 2px;
	padding: 1vw 2vw;
	font-size: 1vw;
	font-weight: 700;
	display: inline-block;
}

.vehicles-white{
	width: 100vw;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.vehicles-container{
	width: 95vw;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.vehicles-container img{
	height: 7.1vw;
	margin: auto;
}

.vehicles-header{
	font-weight: 700;
	font-size: 1.7em;
	color: #333333;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}

.vehicles-info{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.vehicles-name{
	font-weight: 700;
	color: black;
	text-align: center;
	max-width: 17vw;
}

.vehicles-msrp{
	color: #636363;
	font-size: .5em;
	text-align: center;
	margin-top: 10px;
}

.vehicles-price{
	font-weight: 700;
	color: black;
	text-align: center;
	max-width: 35vw;
	font-size: .9em;
}

.promo-container{
	background-color: #d1d1d1;
	width: 100vw;
	display: flex;
	flex-direction: row;
}

.compass-promo-image{
	height: 200px;
	background-image: url("compass-promo.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.grandcherokee-promo-image{
	height: 200px;
	background-image: url("grandcherokee-promo.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.cherokee-promo-image{
	height: 200px;
	background-image: url("cherokee-promo.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.promo-item{
	padding: 20px 20px 20px 20px;
	flex: 1;
}

.two{
	padding-right: 0px;
	padding-left: 0px;
}

.promo-black{
	width: 100%;
	background-color: black;
	position: relative;
	color: white;
	font-size: .9em;
	height: 100px;
}

.promo-white-bold{
	font-weight: 700;
}

.promo-gray{
	background-color: #212121;
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
	
	.promo-gray .fas{
		color: #ffba00;
		margin-right: 10px;
		margin-left: 25px;
	}

.promo-gray-bold{
	font-weight: 700px;
	font-size: .8em;
}

.promo-text{
	padding: 18px 25px;
	line-height: 20px;
}

.random-gray{
	background-color: #e7e7e7;
	height: 240px;
	padding: 0px 0px 0px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.random-gray .look-look{
		font-size: 1.4em;
		font-weight: 700;
		color: black;
		width: 35vw;
		margin-bottom: 15px;
	}

	.random-gray img{
		height: 12vw;
	}

.kelley{
	background-color: #d1d1d1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
	.kelley img{
		width: 125px;
	}

.kelley-big{
	font-size: 1.8em;
	font-weight: 700;
	color: #333333;
	width: 45vw;
}

.kelley-text{
	font-size: .9em;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 45vw;
	line-height: 20px;
}

.kelley-butt{
	text-align: center;
	width: 250px;
	margin-top: 20px;
}

.search-section{
	background-color: #212121;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 30px 30px;
	width: 50vw;
}
	.search-header img{
		height: 2vw;
	}

.search-header{
	color: #d1d1d1;
	padding: 7px 10px;
	flex-basis: 90px;
}

.search-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-radius: 4px 4px 4px 4px;
	height: 40px;
	width: 30vw;
	box-shadow: 0px 0px 1px black;
	margin-left: 30px;
}

.search-bar-button{
	background-color: #ffba00;
	border-radius: 0px 4px 4px 0px;
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-weight: 700;
	font-size: .8em;
	text-decoration: none;
}

.search-bar .fas{
	color: black;
	margin-left: 10px;
}
