body{
	background-color: black;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.big-daddy-nav{
	display: flex;
	justify-content: space-between;
}

.navbar-container{
	display: flex;
	height: 70px;
	align-items: center;
}

.jeep-logo{
	height: 2.5vw;
	padding-left: 15px;
	padding-right: 15px;
}

.down{
	font-size: 1.2vw;
	padding-left: .4vw;
}

.teeny{
	font-size: .8vw;
}

.right-navbar-container{
	display: flex;
	align-items: center;
	margin-right: 30px;
}

.not-spanish{
	font-weight: 700;
	font-size: 1vw;
	color: white;
	padding-left: 30px;
}

.spanish{
	border-left: 1px solid white;
	padding-left: 30px;
	font-size: 12px;
}

.navitem{
	display: inline-block;
	font-weight: 700;
	font-size: 1vw;
	line-height: 48px;
	padding-right: .3vw;
	padding-left: .2vw;
}
	.navitem-tools{
		display: inline-block;
		font-weight: 700;
		font-size: 1vw;
		line-height: 48px;
		padding-right: 15px;
		padding-left: 10px;
	}
	.navitem-capability{
		display: inline-block;
		font-weight: 700;
		font-size: 1vw;
		line-height: 48px;
		padding-right: 15px;
		padding-left: 10px;
	}
	.navitem-menu{
		display: none;
	}
	.navitem-life{
		display: inline-block;
		font-weight: 700;
		font-size: 1vw;
		line-height: 48px;
		padding-right: 15px;
		padding-left: 10px;
	}
	.navitem-owners{
		display: inline-block;
		font-weight: 700;
		font-size: 1vw;
		line-height: 48px;
		padding-right: 15px;
		padding-left: 10px;
	}
	.navitem-merchandise{
		display: inline-block;
		font-weight: 700;
		font-size: 1vw;
		line-height: 48px;
		padding-right: 15px;
		padding-left: 10px;
	}

.carousel-container{
	background-image: url("carousel-jeep-wide.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 38vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
	.carousel-content{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 40vw;
		padding-top: 9vw;
		padding-left: 6vw;
	}
	.far{
		font-size: .5em;
	}
	.carousel-container .white-text{
		line-height: 30px;
		font-size: 1.3em;
	}
	.carousel-container .fine-print{
		font-size: .9em;
		margin-top: 5px;
		margin-bottom: 15px;
	}
	.motortrend{
		height: 9vw;
		margin-bottom: 10px;
	}

.dots{
	align-self: center;
}

.dots div{
	height: 12px;
	width: 12px;
	border-radius: 50%;
	display: inline-block;
	border: 2px solid #bfbfbf;
}
.yellow-dot{
	background-color: #ffba00;
}

.button{
	background-color: #ffba00;
	color: black;
	text-decoration: none;
	border-radius: 2px;
	padding: 1vw 2vw;
	font-size: 1vw;
	font-weight: 700;
	display: inline-block;
}

.vehicles-white{
	width: 100vw;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.vehicles-container{
	width: 95vw;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.vehicles-container img{
	height: 7.1vw;
	margin: auto;
}

.vehicles-header{
	font-weight: 700;
	font-size: 1.7em;
	color: #333333;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}

.vehicles-info{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.vehicles-name{
	font-weight: 700;
	color: black;
	text-align: center;
	max-width: 17vw;
}

.vehicles-msrp{
	color: #636363;
	font-size: .5em;
	text-align: center;
	margin-top: 10px;
}

.vehicles-price{
	font-weight: 700;
	color: black;
	text-align: center;
	max-width: 35vw;
	font-size: .9em;
}
