body{
	background-color: black;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.right-navbar-container{
	display: none;
}

.navbar-container{
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items: center;
}

.jeep-logo{
	height: 35px;
	padding-left: 15px;
}

.down{
	font-size: 16px;
	padding-left: 8px;
}

.yew{
	font-size: 14px;
}

.navitem{
	display: inline-block;
	font-weight: 700;
	font-size: 12px;
	line-height: 48px;
	padding-right: 15px;
}
	.navitem-tools{
		display: inline-block;
		font-weight: 700;
		font-size: 12px;
		line-height: 48px;
		padding-right: 15px;
	}
	.navitem-capability{
		display: inline-block;
		font-weight: 700;
		font-size: 12px;
		line-height: 48px;
		padding-right: 15px;
	}
	.navitem-life{
		display: none;
	}
	.navitem-owners{
		display: none;
	}
	.navitem-merchandise{
		display: none;
	}

.carousel-container{
	background-image: url("secret.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
	.carousel-content{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 40vw;
		padding-top: 9vw;
		padding-left: 6vw;
	}
	.far{
		font-size: .5em;
	}
	.carousel-container .white-text{
		line-height: 22px;
		font-size: 1em;
	}
	.carousel-container .fine-print{
		font-size: .7em;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.motortrend{
		height: 12vw;
		margin-bottom: 10px;
	}

.dots{
	align-self: center;
}

.dots div{
	height: 12px;
	width: 12px;
	border-radius: 50%;
	display: inline-block;
	border: 2px solid #bfbfbf;
}
.yellow-dot{
	background-color: #ffba00;
}

.button{
	background-color: #ffba00;
	color: black;
	text-decoration: none;
	border-radius: 2px;
	padding: 14px 25px;
	font-size: 14px;
	font-weight: 700;
	display: inline-block;
}

.vehicles-white{
	width: 100vw;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.vehicles-container{
	width: 95vw;
	height: 500px;
	display: flex;
	flex-wrap: wrap;
}

.vehicles-container img{
	height: 10.7vw;
	margin: auto;
}

.vehicles-header{
	font-weight: 700;
	font-size: 1.4em;
	color: #333333;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}

.vehicles-info{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.vehicles-name{
	font-weight: 700;
	color: black;
	text-align: center;
	max-width: 17vw;
}

.vehicles-msrp{
	color: #636363;
	font-size: .5em;
	text-align: center;
	margin-top: 10px;
}

.vehicles-price{
	font-weight: 700;
	color: black;
	text-align: center;
	max-width: 35vw;
	font-size: .9em;
}

.promo-container{
	background-color: #d1d1d1;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
}

.compass-promo-image{
	height: 28vw;
	background-image: url("compass-promo.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.grandcherokee-promo-image{
	height: 28vw;
	background-image: url("grandcherokee-promo.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.cherokee-promo-image{
	height: 28vw;
	background-image: url("cherokee-promo.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.promo-item{
	padding: 20px 20px 20px 20px;
}

.one{
	flex: 1;
	padding-right: 0px;
	padding-bottom: 0px;
}

.two{
	flex: 1;
	padding-bottom: 0px;
}

.three{
	flex: 2;
	flex-basis: 100%
}

.promo-black{
	width: 100%;
	background-color: black;
	position: relative;
	color: white;
	font-size: .9em;
	height: 100px;
}

.promo-white-bold{
	font-weight: 700;
}

.promo-gray{
	background-color: #212121;
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
	
	.promo-gray .fas{
		color: #ffba00;
		margin-right: 10px;
		margin-left: 25px;
	}

.promo-gray-bold{
	font-weight: 700px;
	font-size: .8em;
}

.promo-text{
	padding: 18px 25px;
	line-height: 20px;
}

.random-gray{
	background-color: #e7e7e7;
	height: 240px;
	padding: 0px 0px 0px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.random-gray .look-look{
		font-size: 1.4em;
		font-weight: 700;
		color: black;
		width: 35vw;
		margin-bottom: 15px;
	}

	.random-gray img{
		height: 17vw;
	}

.kelley{
	background-color: #d1d1d1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
	.kelley img{
		width: 125px;
	}

.kelley-big{
	font-size: 1.8em;
	font-weight: 700;
	color: #333333;
	width: 70vw;
}

.kelley-text{
	font-size: .9em;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 70vw;
	line-height: 20px;
}

.kelley-butt{
	text-align: center;
	width: 250px;
	margin-top: 20px;
	/*margin-bottom: 30px;*/
}

.search-section{
	background-color: #212121;
	height: 275px;
	display: flex;
	flex-direction: column;
}

.search-container{
	display: flex;
	flex-wrap: wrap;
	padding: 30px 100px;
}
	.search-header img{
		height: 4vw;
	}

.search-header{
	color: #bfbfbf;
	padding: 15px 10px;
	flex-basis: 25%;
}

.search-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-radius: 4px 4px 4px 4px;
	height: 40px;
	width: 60vw;
	box-shadow: 0px 0px 1px black;
	margin-left: 100px;
}

.search-bar-button{
	background-color: #ffba00;
	border-radius: 0px 4px 4px 0px;
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-weight: 700;
	font-size: .8em;
	text-decoration: none;
}

.search-bar .fas{
	color: black;
	margin-left: 10px;
}


.bottom-menu{
	height: 1200px;
	width: 90vw;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.bottom-menu-item{
	padding: 50px 0px 0px 50px;
	width: 100px;
}

.bottom-menu-item i{
	display: none;
}

.menu-header{
	font-weight: 700;
	font-size: 12px;
	line-height: 48px;
}

.menu-options{
	color: #bfbfbf;
	font-size: 14px;
	line-height: 20px;
}

.socials{
	display: flex;
	flex-direction: column;
}

.social-group{
	display: flex;
	flex-direction: column;
	font-weight: 700;
	font-size: 12px;
}

.social-group div:nth-child(1){
	line-height: 48px;
}

.social-group div:nth-child(2){
	line-height: 30px
}

.social-group i{
	font-size: 2.1em;
	letter-spacing: .3em;
}

.social-group img{
	height: 20px;
}

.social-group{
	padding: 50px 0px 0px 50px;
}

.thing{
	border-bottom: 1px solid #333333;
	width: 90vw;
	margin: 10px auto 50px auto;
}