body{
	background-color: black;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.right-navbar-container{
	display: none;
}

.navbar-container{
	display: flex;
	justify-content: space-between;
	height: 45px;
	align-items: center;
}

.jeep-logo{
	height: 25px;
	padding-left: 15px;
}

.down{
	font-size: 16px;
	padding-left: 8px;
}

.yew{
	font-size: 14px;
}

.navitem{
	display: inline-block;
	font-weight: 700;
	font-size: 12px;
	line-height: 48px;
	padding-right: 15px;
}
	.navitem-tools{
		display: none;
	}
	.navitem-capability{
		display: none;
	}
	.navitem-life{
		display: none;
	}
	.navitem-owners{
		display: none;
	}
	.navitem-merchandise{
		display: none;
	}

.carousel-container{
	background-image: url("carousel-jeep.jpg");
	background-size: cover;
	width: 100vw;
	height: 120vw;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}
	.carousel-content{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.far{
		font-size: .5em;
	}
	.carousel-container .white-text{
		text-align: center;
		width: 80vw;
		line-height: 22px;
		font-size: 1em;
	}
	.carousel-container .fine-print{
		font-size: .5em;
		line-height: 40px;
	}
	.carousel-container .motortrend{
		height: 65px;
		margin-top: 30px;
		margin-bottom: 15px;
	}
	.dots div{
		height: 12px;
		width: 12px;
		border-radius: 50%;
		display: inline-block;
		border: 2px solid #bfbfbf;
	}
	.yellow-dot{
		background-color: #ffba00;
	}

.button{
	background-color: #ffba00;
	color: black;
	text-decoration: none;
	border-radius: 2px;
	padding: 14px 25px;
	font-size: 14px;
	font-weight: 700;
	display: inline-block;
}

.vehicles-white{
	width: 100vw;
	height: 550px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.vehicles-container{
	width: 90vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.vehicles-container img{
	height: 19vw;
	margin: auto;
}

.vehicles-header{
	font-weight: 700;
	font-size: 1.1em;
	color: #333333;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.vehicles-info{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.vehicles-name{
	font-weight: 700;
	color: black;
	text-align: center;
	max-width: 35vw;
}

.vehicles-msrp{
	color: #636363;
	font-size: .5em;
	text-align: center;
	margin-top: 10px;
}

.vehicles-price{
	font-weight: 700;
	color: black;
	text-align: center;
	max-width: 35vw;
	font-size: .9em;
}

.promo-container{
	background-color: #d1d1d1;
	width: 100vw;
}

.compass-promo-image{
	height: 30vw;
	background-image: url("compass-promo.jpg");
	background-position: -10%;
	background-size: cover;
}

.grandcherokee-promo-image{
	height: 30vw;
	background-image: url("grandcherokee-promo.jpg");
	background-position: -10%;
	background-size: cover;
}

.cherokee-promo-image{
	height: 30vw;
	background-image: url("cherokee-promo.jpg");
	background-position: -10%;
	background-size: cover;
}

.promo-item{
	padding: 20px 20px 0px 20px;
}

.three{
	padding-bottom: 20px;
}

.promo-black{
	width: 100%;
	background-color: black;
	position: relative;
	color: white;
	font-size: .9em;
}

.promo-white-bold{
	font-weight: 700;
}

.promo-gray{
	background-color: #212121;
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
	
	.promo-gray .fas{
		color: #ffba00;
		margin-right: 10px;
		margin-left: 25px;
	}

.promo-gray-bold{
	font-weight: 700px;
	font-size: .8em;
}

.promo-text{
	padding: 18px 25px;
	line-height: 20px;
}

.random-gray{
	background-color: #e7e7e7;
	height: 138px;
	padding: 0px 0px 0px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

	.random-gray .look-look{
		font-size: .75em;
		font-weight: 700;
		color: black;
		width: 186px;
		margin-bottom: 15px;
	}
	
	.random-gray img{
		display: none;
	}

.kelley{
	background-color: #d1d1d1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
	.kelley img{
		width: 150px;
		margin-top: 30px;
	}

.kelley-big{
	font-size: 1.6em;
	font-weight: 700;
	color: #333333;
	width: 90vw;
}

.kelley-text{
	font-size: .9em;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 85vw;
	line-height: 20px;
}

.kelley-butt{
	width: 75vw;
	margin-top: 20px;
	margin-bottom: 30px;
}

.search-section{
	background-color: #212121;
	height: 275px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-container{
	display: flex;
	flex-wrap: wrap;
	padding: 30px 30px;
}
	.search-header img{
		height: 7vw;
	}

.search-header{
	color: #bfbfbf;
	padding: 15px 10px;
	flex-basis: 40%;
}

.search-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border-radius: 4px 4px 4px 4px;
	height: 40px;
	width: 90vw;
	box-shadow: 0px 0px 1px black;
	margin-bottom: 30px;
}

.search-bar-button{
	background-color: #ffba00;
	border-radius: 0px 4px 4px 0px;
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-weight: 700;
	font-size: .8em;
	text-decoration: none;
}

.search-bar .fas{
	color: black;
	margin-left: 10px;
}

.bottom-menu{
	height: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bottom-menu-item{
	border-bottom: 1px solid white;
	width: 90vw;
	font-weight: 700;
	font-size: 12px;
	line-height: 48px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-options{
	display: none;
}

.socials{
	display: flex;
	flex-direction: row;
	align-self: flex-start;
}

.social-group{
	display: flex;
	flex-direction: column;
	font-weight: 700;
	font-size: 12px;
	line-height: 48px;
}

.social-group i{
	font-size: 2.1em;
	letter-spacing: .3em;
}

.social-group img{
	height: 20px;
}

.social-group{
	padding: 7vw 5vw;
}

.thing{
	border-bottom: 1px solid #333333;
	width: 90vw;
	margin: 10px auto 50px auto;
}

.foot-car-bar{
	color: #bfbfbf;
	font-size: 10px;
	display: flex;
	flex-wrap: wrap;
	margin: 30px 0px;
}

.foot-car-bar div{
	padding-right: .71429rem;
    padding-left: 5vw;
    line-height: 25px;
}

.foot-p{
	color: #bfbfbf;
	font-size: 10px;
	width: 90vw;
	margin: 10px auto 10px auto;
}

.foot{
	margin-bottom: 60px;
}

.done-image{
	display: none;
}