body{
	background-color: black;
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.right-navbar-container{
	display: none;
}

.navbar-container{
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items: center;
}

.jeep-logo{
	height: 35px;
	padding-left: 15px;
}

.down{
	font-size: 16px;
	padding-left: 8px;
}

.yew{
	font-size: 14px;
}

.navitem{
	display: inline-block;
	font-weight: 700;
	font-size: 12px;
	line-height: 48px;
	padding-right: 15px;
}
	.navitem-tools{
		display: inline-block;
		font-weight: 700;
		font-size: 12px;
		line-height: 48px;
		padding-right: 15px;
	}
	.navitem-capability{
		display: inline-block;
		font-weight: 700;
		font-size: 12px;
		line-height: 48px;
		padding-right: 15px;
	}
	.navitem-life{
		display: none;
	}
	.navitem-owners{
		display: none;
	}
	.navitem-merchandise{
		display: none;
	}

.carousel-container{
	background-image: url("secret.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
	.carousel-content{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 40vw;
		padding-top: 9vw;
		padding-left: 6vw;
	}
	.far{
		font-size: .5em;
	}
	.carousel-container .white-text{
		line-height: 22px;
		font-size: 1em;
	}
	.carousel-container .fine-print{
		font-size: .7em;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.motortrend{
		height: 12vw;
		margin-bottom: 10px;
	}

.dots{
	align-self: center;
}

.dots div{
	height: 12px;
	width: 12px;
	border-radius: 50%;
	display: inline-block;
	border: 2px solid #bfbfbf;
}
.yellow-dot{
	background-color: #ffba00;
}

.button{
	background-color: #ffba00;
	color: black;
	text-decoration: none;
	border-radius: 2px;
	padding: 14px 25px;
	font-size: 14px;
	font-weight: 700;
	display: inline-block;
}

.vehicles-white{
	width: 100vw;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.vehicles-container{
	width: 95vw;
	height: 500px;
	display: flex;
	flex-wrap: wrap;
}

.vehicles-container img{
	height: 10.7vw;
	margin: auto;
}

.vehicles-header{
	font-weight: 700;
	font-size: 1.4em;
	color: #333333;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}

.vehicles-info{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.vehicles-name{
	font-weight: 700;
	color: black;
	text-align: center;
	max-width: 17vw;
}

.vehicles-msrp{
	color: #636363;
	font-size: .5em;
	text-align: center;
	margin-top: 10px;
}

.vehicles-price{
	font-weight: 700;
	color: black;
	text-align: center;
	max-width: 35vw;
	font-size: .9em;
}

.promo-container{
	background-color: #d1d1d1;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.promo-two{
	display: flex;
	flex-direction: row;
}

.promo-two .promo-item{
	width: 50%;
}

.promo-two .promo-item:nth-child(1){
	padding-right: 0px;
}

.compass-promo-image{
	height: 250px;
	background-image: url("compass-promo.jpg");
	background-position: center;
	background-size: cover;
}

.grandcherokee-promo-image{
	height: 250px;
	background-image: url("grandcherokee-promo.jpg");
	background-position: center;
	background-size: cover;
}

.cherokee-promo-image{
	height: 250px;
	background-image: url("cherokee-promo.jpg");
	background-position: center;
	background-size: cover;
}

.promo-item{
	padding: 20px 20px 0px 20px;
}

.promo-one{
	padding-bottom: 20px;
}

.promo-black{
	width: 100%;
	height: 90px;
	background-color: black;
	position: relative;
	color: white;
	font-size: .9em;
}

.promo-white-bold{
	font-weight: 700;
}

.promo-gray{
	background-color: #212121;
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
	
	.promo-gray .fas{
		color: #ffba00;
		margin-right: 10px;
		margin-left: 25px;
	}

.promo-gray-bold{
	font-weight: 700px;
	font-size: .8em;
}

.promo-text{
	padding: 18px 25px;
	line-height: 20px;
}
